@import "../../common/global.scss";

.notice {
    height: 445rpx;
    width: 750rpx;
    &-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        image {
            height: 100rpx;
            width: 100rpx;
        }
    }
    
}

.post-icon-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 720rpx;
    margin: $margin-block;
    border-radius: 20rpx;
    background-color: #FFFFFF;
    box-shadow:1rpx 1rpx 10rpx 2rpx $color-shadow;
    &-title {
        margin: 15rpx 0rpx 0rpx 20rpx;
        font-weight: bolder;
    }
    &-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15rpx;
        > text {
            font-size: 20rpx;
        }
    }
}

.take-icon-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 720rpx;
    margin: 5rpx 15rpx 20rpx 15rpx;
    border-radius: 20rpx;
    background-color: #FFFFFF;
    box-shadow:1rpx 1rpx 10rpx 2rpx $color-shadow;
    &-title {
        margin: 15rpx 0rpx 0rpx 20rpx;
        font-weight: bolder;
    }
    &-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: $margin-block;
    }
}

.post-icon-form-body-item, .take-icon-form-body-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rpx;
    height: 150rpx;
    width: 150rpx;
    image {
        height: 100rpx;
        width: 100rpx;
    }
    text {
        font-size: 30rpx;
        font-weight: 200;
    }
}

