@import "../../common/global.scss";
@import "../../uni.scss";

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 120rpx;
}
.position{
    width: 750rpx;
    &-row-1{
        height: 50rpx;
        background-color: $color-deep-gray;
        border-radius: 15rpx;
    }
}
.text{
    font-weight: bolder;
}
.attachment {
    display: flex;
    justify-content: center;
    align-items: center;
    &-image {
        height: 100rpx;
        width: 100rpx;
    }
}
.popup-image{
    display: flex;
    justify-content: center;
    align-items: center;
}