@import "../../common/global.scss";
$order-list-item-font-size: 28rpx;

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: sticky;
    top: 0rpx;
    z-index: 99;

    &-page-segement {
        justify-self: flex-start;
        width: 750rpx;
        background-color: $color-white;

        &-control {
            height: 200rpx;
            width: 750rpx;
        }
    }

    &-search {
        display: flex;
        justify-content: center;
        background-color: $color-white;
        width: 750rpx;

        &-bar {
            width: 450rpx;
        }

        &-order-state {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 250rpx;

            &-selected {
                width: 150rpx;
            }
        }
    }
}

.order-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 750rpx;
}
